<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
          <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
          <typeAlias alias="projectVO" type="com.p3.vo.ProjectVO"/>
          <typeAlias alias="memberVO" type="com.p3.vo.MemberVO"/>
          <typeAlias alias="productVO" type="com.p3.vo.ProductVO"/>
          <typeAlias alias="reviewVO" type="com.p3.vo.ReviewVO"/>
         
    </typeAliases>
</configuration>